body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
  background-color: white;
  min-width: 1040px;
}


/*Шапка сайта*/

.container {
  width: 1020px;
  margin: 0 auto;
}

.page-header {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 490px;
  padding-top: 35px;
}

.page-header,
.page-footer {

  color: #c3c3c3;
  background-color: #363636;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-logo {
 float: left;
 width: 205px;
 height: 55px;
}

.header-logo img {
  width: 205px;
  height: 55px;
}

.header-top {
  margin-bottom: 125px;
}

.main-nav {
  float: left;
  width: 520px;
  margin: 0;
  margin-left: 125px;
  padding: 0;
  list-style: none;
  margin-top: 18px;
}

.main-nav li {
  float: left;
  margin-right: 50px;
}

.main-nav li:last-child {
  margin-right: 0px;
}

.main-nav li {
  text-transform: uppercase;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn {
  width: 146px;
  word-wrap: break-word;
  text-align: center;
  font: inherit;
  border-radius: 2px;
  color: #a38b70;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  border: 2px solid #a38b70;
}

.btn:hover {
  color: #8d745a;
  border-color: #8d745a;
}

.btn:active {
  color: rgba(141, 116, 90, 0.3);
  border-color: #8d745a;
}

.btn-quick-order {
  float: right;
  color: white;
  border-color: white;
  margin-top: 6px;

}

.btn-quick-order:hover {
  color:#404040;
  border-color: white;
  background-color: white;
}

.btn-quick-order:active {
  color: rgba(64, 64, 64, 0.3) ;
  border-color: white;
  background-color: white;
}


.promo {
  font-family: "Georgia", serif;
  font-size: 45px;
  line-height: 55px;
  font-weight: bold;
  text-align: center;
}

.promo a {
  color: #ffffff;
  text-decoration: none;
}

/*Раздел Наши особенности */

.features {
  padding-top: 50px;
  padding-bottom: 55px;
}

.features ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.feature-item {
  float: left;
  padding-top: 90px;
  text-align: center;
  border-left: 1px solid #d9d9d9;
  width: 279px;
  padding-left:30px;
  padding-right:30px;
  position: relative;
}

.feature-item p {
  margin: 0px; 
}

.feature-item:nth-child(1) {
  border-color: transparent;
}

.feature-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 137px;
  width: 65px;
  height: 65px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;

}


.feature-choice::before {
  background-position: -5px -5px;
}

.feature-quality::before {
  background-position: -5px -76px;
}

.feature-safety::before {
  background-position: 1px -143px;
}


.feature-title {
  margin: 0px;
  margin-bottom: 20px;
  font-family: "Georgia", serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #a38b70;
}

.feature-choice {

}

.feature-quality {

}

.feature-safety {

}


/*Раздел Немного теории */

.cat-reference {
   background-color: #f2f2f2;
   padding-top: 70px;
   padding-bottom: 90px;
}

.cat-reference dt {
  margin: 0;
  margin-bottom: 10px;
}

.cat-reference dd {
  position: relative;
  margin: 0;
  padding-left:130px;
  min-height: 100px;
}

.cat-reference dl {
 width: 820px;
 margin: 0px;
}


.cat-reference dd + dt {
  margin-top: 70px;
}

.cat-reference .container {
  position: relative;
}

.to-full-reference {
 position: absolute;
 top: 5px;
 right: 0px;
}

.section-title {
  font-family: "Georgia", serif;
  font-size: 45px;
  line-height: 55px;
  font-weight: bold;
  color: #a38b70;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 60px;
  margin-right: 180px;
}

.reference-title {
  font-size: 24px;
  display: inline;
}

.reference-source {
  color: #666666;
  font-style: italic;
}

.reference-source a {
  color: #a38b70;
  position: relative;
}


.reference-source a::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 8px;
  height: 8px;
  background: url("../img/sprite.png") no-repeat -5px -210px;
}

.cat-reference dd img {
  position: absolute;
  border-radius: 5px;
  top: 0px;
  left:0px;
  width: 100px;
  height: 100px;
}

.cat-reference dd p {
 margin: 0px; 
}

.reference-source a:hover {
  color: #8d745a;
}

.reference-source a:active {
  color: rgba(141, 116, 90, 0.3);
}

/*Раздел отзывы */

.reviews {
  padding-top: 70px;
  padding-bottom: 90px;
}

.review-item {
  border-left: 3px solid #a38b70;
  float: left;
  width: 377px;
  padding: 0;
  padding-left: 50px;
  margin: 0;
  margin-right: 80px;
}


.review-author {
  font-weight: bold;
  font-style: italic;
}

/*Раздел Популярные товары */
.popular-and-price {
  background-color: #f2f2f2;
  padding-top: 70px;
  padding-bottom: 90px;
}

.catalog-item h3 {
  color: #000000;
  font-size: 16px;
}

.popular-items {
  margin-bottom: 50px;
}

.catalog-item {
  float: left;
  width: 308px;
  margin-right: 48px;
}

.catalog-item img {
  max-width: 100%;
  height: auto;
}

.catalog-item:last-child {
  margin-right: 0;
}


/*ПРАЙС ТАБЛИЦА*/

.page-footer {
  margin-top: 20px;
}

.price-list {
  width: 100%;
  border-collapse: collapse;
  line-height: 30px;
}

.price-list th {
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}

.price-list td {
  border: 1px solid #d8d8d8;
}

.price-list th,
.price-list td {
  padding: 5px 10px;
}

.price-list .price-number {
  text-align: center;
}

.price-list .price-name {
  font-weight: bold;
  color: #000000;
}


/*Форма отправки*/

.feedback-form {
  padding-top: 60px;  
  padding-bottom: 70px;
  width: 630px;
}

.feedback-form-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

.feedback-form-group label {
  font-size: 12px;
  text-transform: uppercase;
}

.feedback-form-group input[type="text"],
.feedback-form-group select,
.feedback-form-group textarea {
  font: inherit;
  color: inherit;
  border: 2px solid #d5d5d5;
}

.feedback-form input[type="text"]:hover,
.feedback-form select:hover,
.feedback-form textarea:hover {
  border-color: #bebebe;
}

.feedback-form input[type="text"]:focus,
.feedback-form select:focus,
.feedback-form textarea:focus {
  border-color: #8d745a;
}

.checkbox-area {
  border-bottom: 1px solid #d5d5d5;
}

.feedback-form {
  background: url("../img/write.jpg") no-repeat 100% 40px;
  padding-right: 390px;
}

/*ПОДВАЛ*/

.page-footer {
  padding-top: 45px;
  padding-bottom: 50px;
}

.footer-middle,
.footer-bottom {
  border-top: 1px solid #5e5e5e;
}

.footer-top {
  margin-bottom: 45px;
}

.footer-middle {
  padding-top: 50px;
  margin-bottom: 50px;
}

.footer-bottom {
  padding-top: 50px;
}

.footer-menu {
  float: left;
  width: 150px;
  margin-right: 20px;
}

.footer-logo {
  float:left;
  width: 205px;
  height: 55px;
}

.footer-menu h3 {
  font-family: "Georgia", serif;
  font-size: 24px;
  font-weight: bold;
  color: #a38b70;
}

.footer-menu ul {
  list-style: none;
}

.footer-menu a {
  color: #c3c3c3;
  text-decoration: none;
}

.footer-menu a:hover {
  color: #ffffff;
}

.footer-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  float: left;
  width:490px;
}

.footer-copyright {
  float: right;
  width: 236px;
}

.footer-social b {
  font-family: "Georgia", serif;
  font-size: 24px;  
  color: #a38b70;
}

.social-btn {
  color: #ffffff;
}

.footer-copyright {
  color: #ffffff;
  text-transform: uppercase;
}

.footer-copyright a {
  color: #ffffff;
  text-decoration: none;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:active {
  color: rgba(255, 255, 255, 0.3);
}

